<h2> 新增活動橫幅 </h2>
<%= simple_form_for [:admin, @carousel] do |f| %>
  <div class="group">
    <%= f.input :title %>
  </div>
  <div class="group">
    <%= f.input :description %>
  </div>
<!--   <div class="form-group">
    <%= f.simple_fields_for :photo do |c| %>
      <%= c.input :image , as: :file %>
    <% end %>
  </div> -->
  <%= f.submit "送出", :class => 'btn btn-primary waves-effect text-center' , data: { disable_with: "Submitting..." } %>
<% end %>