<!DOCTYPE html>
<html>
<head>
  <title>ECStore 後台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render "common/css" %>
  <%= csrf_meta_tags %>
</head>
<body class="fixed-left">
<div id="wrapper"> 
  <%= render "common/header" %>
  <%= render "common/menu" %>
  
  <div class="content-page"> 
    <!-- Start content -->
    <div class="content">
      <div class="container"> 
        <%= yield %>
      </div>
    </div>
  </div>

</div>

<%= render "common/js" %>

</body>
</html>
